@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,700&display=swap');

body {
  font-family: 'Cabin';
  margin: 0;
  padding: 0;
}

.fondo-titulo {
  height: 80vh; 
  background-image: url('https://images.pexels.com/photos/764925/pexels-photo-764925.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

 .titulo { 
  color: #000;
  font-size: 2rem;
  background-coloR: #fff;  
}

article {
  box-shadow: 2px 12px 21px 2px rgba(0,0,0,0.75), 23px 3px 6px rgba(0,0,0,0.23);
  padding: 15px;
  margin:40px ;
   
  background: #fff;
}
 
.contenedor-imagen {
  background-imagen: url('https://images.pexels.com/photos/764925/pexels-photo-764925.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
  background-position: center;
}
