html,
body {
  font-family: "Roboto Slab", serif, Arial, Helvetica, sans-serif;
  
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
nav.mn{
  font-size: initial;}
body{
  background-image: url("../img/icabecera.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/*Estilo para cabecera*/

.cabecera {
  background: #fff;

  /* Flexbox */
  display: flex;
  flex-flow: row wrap;
}

.ft {
  height: 100%;
  width: 100%;
}
.ft img {
  height: 100%;
  width: 100%;

  overflow: hidden;
}

.cabecera a {
  color: #419a1c;
  text-decoration: none;
}

/* Barra de Menu*/
.nv {
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  padding: 10px;

  /* Flexbox */
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-direction: row;
  flex-wrap: wrap;
}

.mn {
  width: 50%;

  /* Flexbox */

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.mn a {
  color: #419a1c;
  text-align: center;
  text-decoration: none;
  padding: 10px;

  /* Flexbox */
  flex-gfila: 1;
}

.mn a:hover {
  color: #19ade3;
}

.logo img {
  width: 200px;
  aling-items: center;
  vertical-align: top;
  display: flex;
}

.logo a {
  color: #fff;
  text-decoration: none;
  line-height: 50px;
}

/*Servicios*/
.areas-servicios {
  background-color: #fff;
  padding: 20px;
  /*FLEX*/
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.areas-servicios div {
  display: block;
  text-align: center;
  width: 1200px;
}
.bloque1 {
  border: solid 2px #000;
  padding: 10px;
  margin: 5px;
  flex-direction: row;
  flex: 1 1 20%;
  flex-flow: row wrap;
  background-color: #ffff;
}

.bloque1 img {
  width: 128px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bloque1 h2,
h3 {
  text-align: center;
  font-size: 17px;
}

/*Galaria de Menus*/
.areas-gmenus {
  background-color: #000;
  padding: 20px;
  /*FLEX*/
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.areas-gmenus div {
  display: block;
  text-align: center;
  width: 1200px;
  color: #fff;
}

.bloque4 {

  flex-direction:row;
  flex:1 1 90%;
  flex-flow:row wrap;
  padding-left: auto;
  padding-right: auto;
}

.bloque4 img {
  margin: 5px;
  width: 290px;
}

/*Equipo*/
.areas-equipo {
  background-color: #fff;
  padding: 20px;
  /*FLEX*/
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.areas-equipo div {
  display: block;
  text-align: center;
  width: 1200px;
}

.bloque2 {
  border: solid 2px #000;
  padding: 10px;
  margin: 5px;
  flex-direction: row;
  flex: 1 1 20%;
  flex-flow: row wrap;
}

.bloque2 img {
  width: 128px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
}

.bloque2 h2,
h3 {
  text-align: center;
  font-size: 17px;
  color: #000;
}

/*Post Blog*/

.areas-blog {
  background-color: #fff;
  padding: 20px;
  /*FLEX*/
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.areas-blog div {
  display: block;
  text-align: center;
  width: 1200px;
}

.bloque3 {
  border: solid 2px #000;
  padding: 10px;
  margin: 5px;
  flex-direction: row;
  flex: 1 1 20%;
  flex-flow: row wrap;
}

.bloque3 img {
  width: 128px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bloque3 h1 {
  text-align: center;
  font-size: 17px;
  color: #000;
}

.bloque3 p {
  text-align: justify;
  font-size: 15px;
  color: #000;
}

.bloque3 p > a {
  text-decoration: none;

    color: #419a1c;
  }

/*Servicios*/
.ser-ft{
	display: block;
	text-align: center;
	width:100%;

	padding: 50px;
	color: #fff;
	background-color: #419a1c;

}

.ser-ft2{
	display: block;
	text-align: center;
	padding: 50px;

	background-color: #419a1c;

}

.ser-ft2 a{
	text-decoration: none;
	color: #fff;
	border: solid 2px #19ade3;
	padding:10px;
}

/*Servicios bloques*/

.ser-r1{

width:100%;
  /*FLEX*/
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
  justify-content:space-between;
}

.r30b{

	width: 30%;
	max-width:100%;
	height: auto;
	background-color: #000;
	text-align: center;
	padding-top:10%;

}

.r30b h1{
	color:#333;
	font-size: 17px;
		text-align: center;
}

.r30b p{
	color:#333;
font-size: 15px;
	text-align: justify;
	padding:20px;

}

.r30b h2>a {
	text-decoration: none;
	color:#419a1c;
	border: solid 2px #19ade3;
	padding:10px;
	font-size: 15px;
	text-align: center;
}

.r70i{
	width:70%;


}

.r70i img{
	height: auto;
	max-width: 100%;
display:block;
padding:0;
margin:0;

  }

.ser-r2{

width:100%;
	  /*FLEX*/
	  display: flex;
	  flex-wrap:wrap;
	  flex-direction: row;
	  justify-content:space-between;
	}

	.r30n{

		width: 30%;
		background-color: #fff;
		text-align: center;
		padding-top:10%;
	}

	.r30n h1{
		color:#333;
		font-size: 17px;
			text-align: center;
	}

	.r30n p{
		color:#333;
		font-size: 15px;
		text-align: justify;
		padding:20px;

	}

	.r30n h2>a {
		text-decoration: none;
		color:#419a1c;
		border: solid 2px #19ade3;
		padding:10px;
		font-size: 15px;
		text-align: center;
	}
/*Footer*/
footer {
  width: 100%;
  background: #202020;
  color: white;
}

.con-fooa{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.co-fo {
  display: flex;
  justify-content: space-between;
}

.co1 {
  max-width: 400px;
}

.co1 h1 {
  font-size: 22px;
}

.co1 p {
  font-size: 14px;
  color: #c7c7c7;
  margin-top: 20px;
}

.co2 {
  max-width: 400px;
}

.co2 h1 {
  font-size: 22px;
}

.fila {
  margin-top: 20px;
  display: flex;
}

.fila img {
  width: 36px;
  height: 36px;
}

.fila label {
  margin-top: 10px;
  margin-left: 20px;
  color: #c7c7c7;
}

.co3 {
  max-width: 400px;
}

.co3 h1 {
  font-size: 22px;
}

.fila2 {
  margin-top: 20px;
  display: flex;
}

.fila2 img {
  width: 36px;
  height: 36px;
}

.fila2 label {
  margin-top: 10px;
  margin-left: 20px;
  max-width: 140px;
}

.container-footer {
  width: 100%;
  background: #101010;
}

.foo {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.derechos {
  color: #c7c7c7;
}

.derechos a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.info a {
  text-decoration: none;
  color: #c7c7c7;
}

@media screen and (max-width: 900px){

	.r70i{
		display:none;
	}

	.r30b,.r30n{
		width:100%;
	}
  .co-fo{
      flex-wrap: wrap;
  }

  .co1 {
    max-width: 100%;
  }

  .co2,
  .co3 {
    margin-top: 40px;
  }
}


@media screen and (max-width: 610px) {

.r30b,.r30n{
	width:85%;
}
.r70i{
	display:none;
}
	.nv {


		flex-direction:column;
		padding:0;

	}

	.logo {
		margin:20px 0;
	}

.mn {
		width: 100%;
	}

}
.areas-gmenus{

  margin:auto;
}
.areas-gmenus {
  margin: auto;
}
