@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,700&display=swap');

body {
  font-family: 'Cabin';
  margin: 0;
  padding: 0;
}

.menu-header {
  height: 50vh;
  background-image: url('https://images.pexels.com/photos/461428/pexels-photo-461428.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  background-position: center;
  
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.new {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.plato {
  width: 30%;
  margin: 10px;
}

.plato img {
  width: 100%;
}

.plato .contenido {
  text-align: center;
}

.plato .contenido h6 {
  font-size: 1.2rem;
  margin: 5px 0;
}

.nuestro-menu {
  background-image: url('https://images.pexels.com/photos/326279/pexels-photo-326279.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  background-position: center;
}

.titulo {
  color: #fff;
  font-size: 4rem;
}

.subtitulo {
  color: #000;
  font-size: 2rem;
}

.contenedor {
  margin: auto;
  max-width: 80%;
}

.our-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 20%;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background: #fff;
}

.card .card-imagen {
  width: 100%;
}

.card .card-imagen img {
  width: 100%;
}

.card .card-contenido  {
  text-align: center;
}

.card .card-contenido h2 {
  font-size: 1.2rem;
  margin: 5px 0;
}
