@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Cabin';
  margin: 0;
  padding: 0;
}


.header {
  height: 50vh;
  background-image: url('https://images.pexels.com/photos/6267/menu-restaurant-vintage-table.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-position: center;
  background-size: cover;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo {
  color: #419a1c;
  font-size: 4rem;
}

.subtitulo {
  color: #000;
  font-size: 2rem;
}

.contenedor {
  margin: auto;
  max-width: 80%;
}

.card {
  margin: 10px;
  padding: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background: #fff;
}

.card form {
  width: 100%;
  padding: 10px;
}

.card .campo {
  width: 100%;
}

.campo input[type="text"],
input[type="email"],
input[type="number"], 
input[type="date"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #419a1c;
}

.campo input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus, 
input[type="date"]:focus {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 2px solid #419a1c;
}

.campo input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 0px;
  background: #419a1c;
  cursor: pointer;
}

.card .card-contenido h2 {
  font-size: 1.2rem;
  margin: 5px;
}
